
<VAST xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd" version="3.0">
    <Ad id="1778377941">
        <Wrapper>
            <AdSystem>GDFP</AdSystem>
            <VASTAdTagURI><![CDATA[https://rtr.innovid.com/r1.57a372270d2d97.77583285;cb=444849452]]></VASTAdTagURI>
            <Error><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=videoplayfailed[ERRORCODE]]]></Error>
            <Impression><![CDATA[https://securepubads.g.doubleclick.net/pcs/view?xai=AKAOjst_-xJKHI03wYasiqHFFDi40XG6CLVlxmn6pa_UZpNzQK7_bN-TsztHQH4aX-fFcpm80xWq0RVot7zuV3zpJVYNPOTrhv_7HFvYUinO4hVp6r4oyaQQe_-Roj-teg8wZOfz6DY8LY5zaUxg9c7TaqGCSp-jEYRrl5MlImJelhUoxUngs0YkQrczCoBPTlDZ-Yf579l26n2CbPGpF4WUiqDdnVq5504HPS7-ZEABzSbfSyBZRBUoc6kTYxO33wQk9ZYsu-3Fvz8RSgIETD_LBJSDtA&sig=Cg0ArKJSzPihgMJVK57WEAE&adurl=]]></Impression>
            <Creatives>
                <Creative id="114216869541" sequence="1">
                    <Linear>
                        <TrackingEvents>
                            <Tracking event="start"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=part2viewed&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="firstQuartile"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=videoplaytime25&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="midpoint"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=videoplaytime50&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="thirdQuartile"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=videoplaytime75&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="complete"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=videoplaytime100&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="mute"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=admute&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="unmute"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adunmute&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="rewind"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adrewind&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="pause"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adpause&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="resume"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adresume&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="fullscreen"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adfullscreen&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="creativeView"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=vast_creativeview&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="exitFullscreen"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=vast_exit_fullscreen&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="acceptInvitationLinear"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=acceptinvitation&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="closeLinear"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=adclose&ad_mt=[AD_MT]&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                            <Tracking event="start"><![CDATA[https://video-ad-stats.googlesyndication.com/video/client_events?event=2&web_property=ca-pub-9910830388862988&cpn=[CPN]&break_type=[BREAK_TYPE]&slot_pos=[SLOT_POS]&ad_id=[AD_ID]&ad_sys=[AD_SYS]&ad_len=[AD_LEN]&p_w=[P_W]&p_h=[P_H]&mt=[MT]&rwt=[RWT]&wt=[WT]&sdkv=[SDKV]&vol=[VOL]&content_v=[CONTENT_V]&conn=[CONN]&format=[FORMAT_NAMESPACE]_[FORMAT_TYPE]_[FORMAT_SUBTYPE]]]></Tracking>
                            <Tracking event="complete"><![CDATA[https://video-ad-stats.googlesyndication.com/video/client_events?event=3&web_property=ca-pub-9910830388862988&cpn=[CPN]&break_type=[BREAK_TYPE]&slot_pos=[SLOT_POS]&ad_id=[AD_ID]&ad_sys=[AD_SYS]&ad_len=[AD_LEN]&p_w=[P_W]&p_h=[P_H]&mt=[MT]&rwt=[RWT]&wt=[WT]&sdkv=[SDKV]&vol=[VOL]&content_v=[CONTENT_V]&conn=[CONN]&format=[FORMAT_NAMESPACE]_[FORMAT_TYPE]_[FORMAT_SUBTYPE]]]></Tracking>
                        </TrackingEvents>
                        <VideoClicks>
                            <ClickTracking id=""><![CDATA[https://video-ad-stats.googlesyndication.com/video/client_events?event=6&web_property=ca-pub-9910830388862988&cpn=[CPN]&break_type=[BREAK_TYPE]&slot_pos=[SLOT_POS]&ad_id=[AD_ID]&ad_sys=[AD_SYS]&ad_len=[AD_LEN]&p_w=[P_W]&p_h=[P_H]&mt=[MT]&rwt=[RWT]&wt=[WT]&sdkv=[SDKV]&vol=[VOL]&content_v=[CONTENT_V]&conn=[CONN]&format=[FORMAT_NAMESPACE]_[FORMAT_TYPE]_[FORMAT_SUBTYPE]]]></ClickTracking>
                            <ClickTracking id="GDFP"><![CDATA[https://pubads.g.doubleclick.net/pcs/click?xai=AKAOjsv2s7OR_0nlP2ShECnbSQ2SMMmgVIb03e7XgPR3QLnEcmkjnzs24PxP75-7GUnq_N390yfIneWUCb05RUmi0oWzPR7sdpOHqvBCEm1yeA8xbU9Lc2sAWWeh630cIg-pjg6EEvYCP0YE-y83CcmBrVL2x1ScZcmrJ5xssiIOLXRAKMqUgzas7XzR82ZJid6z5kYab7W9Yp6h5durZz2wE4WBzGV2o6A8jz_Uy3wu-P0sI-xtfJrPU_7cx1tL7LOqRdexUbo9Qtm6RJ65kf6Srg&sig=Cg0ArKJSzH3TLDcB2BdXEAE&urlfix=1]]></ClickTracking>
                        </VideoClicks>
                    </Linear>
                </Creative>
            </Creatives>
            <Extensions>
                <Extension type="activeview">
                    <CustomTracking>
                        <Tracking event="viewable_impression"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=viewable_impression&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                        <Tracking event="abandon"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=video_abandon&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                        <Tracking event="viewable_impression"><![CDATA[https://pagead2.googlesyndication.com/activeview?id=lidarv&acvw=[VIEWABILITY]&avi=B4FAXbRHTV7-MKs6CMae2hfAEAAAAABABOAGIAQHIAQXAAgLgAgDgBAGgBiQ&cid=CAASFeRoW36AKtUpXQUMUWMtAl7CqUAOuQ]]></Tracking>
                        <Tracking event="measurable_impression"><![CDATA[https://pagead2.googlesyndication.com/activeview?id=lidarv&acvw=[VIEWABILITY]&avi=B4FAXbRHTV7-MKs6CMae2hfAEAAAAABABOAGIAQHIAQXAAgLgAgDgBAGgBiQ&cid=CAASFeRoW36AKtUpXQUMUWMtAl7CqUAOuQ&avm=1]]></Tracking>
                        <Tracking event="fully_viewable_audible_half_duration_impression"><![CDATA[https://pagead2.googlesyndication.com/activeview?id=lidarv&acvw=[VIEWABILITY]&avi=B4FAXbRHTV7-MKs6CMae2hfAEAAAAABABOAGIAQHIAQXAAgLgAgDgBAGgBiQ&cid=CAASFeRoW36AKtUpXQUMUWMtAl7CqUAOuQ&avgm=1]]></Tracking>
                        <Tracking event="measurable_impression"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=active_view_video_measurable_impression&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                        <Tracking event="fully_viewable_audible_half_duration_impression"><![CDATA[https://pubads.g.doubleclick.net/pagead/conversion/?ai=BLyHubRHTV7-MKs6CMae2hfAEhcK18ggAAAAQASCt3_4fOABYpb3svqkDYMnGqYvApNgPiAEBsgEjc3RhZ2luZy5hc3NldHMuc3ByaW5nYm9hcmR2aWRlby5jb226AQcxeDFfeG1syAEF2gH_AWh0dHA6Ly9zdGFnaW5nLmFzc2V0cy5zcHJpbmdib2FyZHZpZGVvLmNvbS9fX3VzYS9zcHJpbmdib2FyZF9kZW1vX3BhZ2VzL2RlbW9wYWdlLmh0bWw_YWR0YWc9aHR0cDovL3B1YmFkcy5nLmRvdWJsZWNsaWNrLm5ldC9nYW1wYWQvYWRzP2Vudj12cCZnZGZwX3JlcT0xJmltcGw9cyZvdXRwdXQ9eG1sX3Zhc3QyJnVudmlld2VkX3Bvc2l0aW9uX3N0YXJ0PTEmdXJsPSU1QnJlZmVycmVyX3VybCU1RCZjb3JyZWxhdG9yPSU1QnRpbWVzdGFtcCU1RCZjacACAuACAOoCHC80NDAzL3Rlc3RhZHVuaXQvc3ByaW5nYm9hcmT4AvnRHoADAZAD4AOYA-ADqAMB4AQB0gUGENXJ_88GkAYBoAYk2AcA4AcP&sigh=5SwURjco-pA&label=fully_viewable_audible_half_duration_impression&acvw=[VIEWABILITY]&gv=[GOOGLE_VIEWABILITY]]]></Tracking>
                    </CustomTracking>
                </Extension>
                <Extension type="waterfall" fallback_index="0" />
                <Extension type="geo">
                    <Country>US</Country>
                    <Bandwidth>4</Bandwidth>
                    <BandwidthKbps>20000</BandwidthKbps>
                </Extension>
            </Extensions>
        </Wrapper>
    </Ad>
</VAST>
